html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  box-sizing: inherit;
  color: #fff;
  font-family: 'Itim', cursive;
  font-size: 2rem;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  line-height: 1;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h2 span {
  color: #387B7E;
}

p {
  margin: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pt3 {
  padding-top: 3rem;
}

.pb3 {
  padding-bottom: 3rem;
}

.container {
  align-items: center;
  background-image: url("./images/background.png"), radial-gradient(50% 87%, #7AA8AD 50%, #4A797D 87%);
  background-position: center;
  background-repeat: no-repeat;
}

.container-home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.container-home h2,
.container-home p {
  margin-bottom: 2rem;
}

.home-avatar li:first-of-type {
  margin-right: 5rem;
}

.home-intro p {
  max-width: 760px;
  font-size: 4rem;
  line-height: 1;
}

.container-game {
  display: none;
  padding: 5rem;
}

.game-content {
  display: flex;
  padding-bottom: 5rem;
}

.text-center {
  text-align: center;
}

.rounded {
  background: #426785;
  border: 8px solid #7AB5BB;
  border-radius: 250px;
  color: #fff;
  letter-spacing: 0;
}

.board {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 760px;
}

.btn {
  font-size: 4rem;
  height: 100%;
  margin: 0;
  text-align: center;
}

.btn:focus, .btn:active {
  outline: none;
}

.btn-action {
  padding: 2rem 3rem;
}

.btn-holder {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 710px;
}

.btn-letters {
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(42,69,72,0.50);
  height: 86px;
  margin: 1px;
  opacity: 0.5;
  width: 86px;
}

.is-clicked {
  background: #F6A623;
  box-shadow: inset 0 0 10px 0 #734D0E;
}

.letter {
  align-items: center;
  background: #4A797D;
  box-shadow: 0 4px 4px 0 rgba(46,80,83,0.60);
  display: flex;
  font-size: 4rem;
  height: 86px;
  justify-content: center;
  position: relative;
  width: 86px;
}

.letter:before {
  background-image: url(./images/tooltip.png);
  background-repeat: no-repeat;
  bottom: 100%;
  content: 'Borrar';
  display: block;
  display: none;
  height: 74px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 150px;
}

.letter:hover.letter:before{
  display: block;
}

.word {
  display: flex;
  height: 86px;
  justify-content: center;
}

.choosed-word {
  margin-bottom: 3rem;
}

.player-display {
  margin-bottom: 3rem;
}

.hearts {
  display: flex;
  margin-bottom: 1rem;
}

.hearts-item {
  margin-right: 0.6rem;
}

.points {
  display: block;
  font-size: 4rem;
}

.flexbox {
  display: flex;
  justify-content: center;
}

.display-player {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.display-player .rounded {
  width: 100%;
}

.display-player:before {
  background: #F8E81C;
  border-radius: 50%;
  box-shadow: 0 2px 4px 2px #F8E81C;
  content: '';
  display: block;
  height: 20px;
  margin-bottom: 1rem;
  width: 20px;
}

.is-selected {
  display: block;
}

.container-end-game {
  display: none;
}

.image-end-holder {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 3rem;
}

.image-star-holder {
  align-items: center;
  background-image: url('./images/star.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  height: 207px;
  justify-content: center;
  position: absolute;
  right: 20%;
  top: 0;
  width: 207px;
  line-height: 0.8;
}

.js-star {
  display: block;
}
